@model CrudMVCByKING.Models.DTOs.ContactDto


@{
    ViewData["Title"] = "Delete";
}




<div class="p-6 bg-white rounded-lg shadow-md">
    <h4 class="text-2xl font-semibold mb-4">Delete Contact</h4>
    <hr class="mb-4 border-t border-gray-300">

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div class="mb-4">
            <span class="text-gray-600 font-semibold">Name</span>
            <p class="text-gray-700">@Model.Name</p>
        </div>
        <div class="mb-4">
            <span class="text-gray-600 font-semibold">Number</span>
            <p class="text-gray-700">@Model.Number</p>
        </div>
        <div class="mb-4">
            <span class="text-gray-600 font-semibold">When Call</span>
            <p class="text-gray-700">@Model.WhenCall</p>
        </div>
    </div>

    <form asp-action="DeleteConfirmed">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete"class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600" /> |
        <a asp-action="Index"  class="ml-2 text-indigo-600 hover:underline">Back to List</a>
    </form>
</div>
